.wp-block-group{
  overflow-x: hidden;
}
.img-wrapper img{
  width: 100%;
  display: block;
}
.social .w-svg{
  width: 1.5em;
  height: 1.5em;
}

.custom-bg{
  background-image: url('../../img/dots-reversed-darken.svg');
  background-size: 45% auto;
  background-position: right center;
  background-repeat: no-repeat;
}

.with-arrows{
  position: relative;
  padding: 0 260px;
  &::before,
  &::after{
    content: '';
    display: block;
    height: 80px;
    width: 130px;
    background-image: url('../../img/arrows-left.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 0;
    top: calc(50% - 40px);
  }
  &::after{
    background-image: url('../../img/arrows-right.svg');
    left: inherit;
    right: 0;
  }
}

.connector{
  position: relative;
}

.slider-arrow{
  .ghostkit-svg-icon{
    display: none !important;
  }
  border-radius: 0 !important;
  background-color: $w-color-primary !important;
  background-image: url("../../img/arrow-left.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px auto;
  height: 40px !important;
  width: 40px !important;
  &.slider-arrow-prev{
    background-image: url("../../img/arrow-right.svg");
  }
}

.button-plain{
  font-weight: 400;
  svg{
    margin-right: 15px;
    width: 15px;
  }
}

.hero{
  height: 56.25vw;
  min-height: inherit;
  .alignwide{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    position: relative;
    z-index: 2;
  }
}

.connector{
  overflow: hidden;
  .post{
    .post-content{
      p{
        color: #000;
      }
    }
    h3{
      color: #000;
    }
    .post-datalist{
      color: #000;
    }
    &.type-projekt{
      .post-inner{
        position: relative;
        margin-bottom: 0;
        &:hover{
          box-shadow: none;
        }
        &::after{
          content: '';
          height: 60%;
          width: 100%;
          bottom: 0;
          left: 0;
          background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
          position: absolute;
        }
        .post-image{
          margin-bottom: 0;
        }
        .post-content{
          position: absolute;
          bottom: 0;
          left: 0;
          z-index: 1;
          h3{
            color: #fff;
          }
          .button-plain{
            color: #fff;
            svg{
              path{
                fill: #fff;
              }
            }
          }
        }
      }
    }
    &.type-bewertung{
      .post-inner{
        box-shadow: none !important;
        .post-stars{
          margin-top: 0;
          margin-bottom: 5px;
          color: $w-color-primary;
        }
        .post-title{
          margin-top: 0;
        }
        img{
          display: block;
          width: 100px;
          margin-right: 25px;
          border-radius: 100%;
        }
        .content-wrapper{
          p{
            font-size: 1.2em;
            text-align: center;
          }
        }
        .subtitle{
          letter-spacing: 0.3em;
          text-transform: uppercase;
        }
      }
    }
  }
}

.custom-steps{
  position: relative;
  z-index: 1;
  &::after{
    content: '';
    position: absolute;
    height: calc(100% - 16px);
    width: 2px;
    background: $w-color-primary;
    top: 16px;
    left: calc(50% - 1px);
    box-shadow: 0px 0px 6px 1px $w-color-primary;
  }
  &::before{
    content: '';
    position: absolute;
    top: 0;
    left: calc(50% - 8.5px);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid $w-color-primary;
    box-shadow: 0px 0px 6px 1px $w-color-primary;
  }
  >.ghostkit-grid-inner{
    align-items: flex-start;
    >.ghostkit-col{
      position: relative;
      .ghostkit-col-content{
        position: relative;
        z-index: 1;
        .font-glow{
          font-size: 140px;
          font-weight: 900;
          color: #000;
          text-shadow: 2px 0px 1px $w-color-primary, 2px -2px 1px $w-color-primary, 2px 2px 1px $w-color-primary, -2px -2px 1px $w-color-primary, 0px 0px 6px $w-color-primary, 0px 0px 6px $w-color-primary, 0px 0px 6px $w-color-primary, 0px 0px 6px $w-color-primary;
          line-height: 0;
          position: absolute;
          top: 7%;
          right: 0;
          z-index: -1;
        }
      }
      &::after{
        content: '';
        position: absolute;
        height: 2px;
        width: 20%;
        background: $w-color-primary;
        box-shadow: 0px 0px 6px 1px $w-color-primary;
        right: -50px;
        top: calc(50% - 1px);
      }
      &:nth-child(2n){
        .ghostkit-col-content{
          margin-top: 120px;
          .font-glow{
            left: 0;
            right: inherit;
          }
        }
        &::after{
          right: inherit;
          left: -50px;
          top: calc(50% - 0.5px + 120px);
        }
      }
      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6){
        margin-top: 0;
      }
    }
  }
}

.ghostkit-custom-1dn08H{
  .is-style-h1{
    margin: 0.5rem auto;
  }
  .wp-block-group__inner-container{
    width: 100%;
  }
}

.logo-wall{
  .wp-block-image{
    img{
      max-height: 100px;
      max-width: 150px;
    }
  }
}

//PORTFOLIO CUSTOM-Styles
.vp-portfolio__layout-elements{
  position: relative;
  margin-bottom: 50px;
  justify-content: flex-start !important;
  &.vp-portfolio__layout-elements-bottom{
    justify-content: center !important;
  }
  a{
    background: transparent !important;
    border: 2px solid $w-color-primary;
    border-radius: 5px !important;
    margin-right: 12px !important;
    margin-bottom: 8px !important;
    color: #fff !important;
    text-transform: initial !important;
    &:hover{
      color: $w-color-primary !important;
    }
  }
  .vp-filter__item-active a{
    color: #fff !important;
    background: $w-color-primary !important;
  }
  .vp-pagination__load-more{
    background: $w-color-primary !important;
    border-radius: 0 !important;
    border: 0 !important;
    color: #fff !important;
    font-size: 1.13em !important;
    font-weight: 400 !important;
    padding: 1em 1.4em !important;
    transition: all .3s !important;
    &:hover{
      color: #fff !important;
      background: lighten($w-color-primary, 10%) !important;
    }
  }
  /*
  &::after{
    content: '';
    display: block;
    height: 2px;
    width: 75%;
    background: $w-color-primary;
    box-shadow: 0 0 6px 1px #0ea9a1;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  */
}

//NK-AWB Custom Styles
.is-style-mit-verlauf{
  position: relative;
  padding-left: 0;
  padding-right: 0;
  &::after{
    height: 100%;
    width: 100%;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: linear-gradient(0deg,#000 0,rgba(0,0,0,0) 25%,rgba(0,0,0,0) 75%,#000 100%);
  }
}

//CONNECTOR Custom-Styles
.post--box .post-inner{
  margin: 40px 0 !important;
  .post-stars{
    display: flex;
    justify-content: center;
    svg{
      margin-right: 8px;
      height: 1.2em;
      width: 1.2em;
    }
  }
  @media(max-width: $w-breakpoint-large){
    margin: 30px 0 !important;
  }
  @media(max-width: $w-breakpoint-small){
    margin: 20px 0 !important;
  }
}

//HERO-Group
.group-hero{
  margin-top: 0;
  position: relative;
  overflow: hidden;
   > .wp-block-group__inner-container{
     margin: 0 !important;
     width: 100%;
     min-height: 100vh;
     position: relative;
     display: flex;
     align-items: center;
     overflow: hidden;
    .wp-block-group{
      margin-top: 0;
      margin-bottom: 0;
      position: relative;
      z-index: 5;
      padding: 100px 0;
      height: 100%;
      display: flex;
      align-items: center;
      /*
      position: absolute;
      left: 5%;
      top: 50%;
      transform: translateY(-50%);
      z-index: 3;
      */
    }
    .wp-block-video{
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      height: 100%;
      width: 100%;
      transform: translate(-50%, -50%);
      overflow: hidden;
      video{
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }
     @media(max-width: $w-breakpoint-small){
       min-height: 75vh;
       align-items: flex-end;
       .wp-block-group{
         padding: 50px 0;
       }
     }
  }
  &::before{
    height: 100%;
    width: 100%;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: rgba(0,0,0,0.3);
  }
  &::after{
    height: 100%;
    width: 100%;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: linear-gradient(0deg,#000 0,rgba(0,0,0,0) 25%,rgba(0,0,0,0) 75%,#000 100%);
  }
}


@media(max-width: $w-breakpoint-large){
  /*
  .is-style-h1, .w-h1, h1{
    font-size: 3em;
  }
  .is-style-h2, .w-h2, h2{
    font-size: 2.2em;
  }
  .is-style-h3, .w-h3, h3{
    font-size: 1.2em;
  }
  */
  .has-large-font-size{
    font-size: 1.5em !important;
  }
}
@media(max-width: $w-breakpoint-medium){
  .ghostkit-button{
    display: inline-block;
    width: inherit;
    padding: 0.8em 1em;
  }
  .connector .post.type-bewertung .post-inner .content-wrapper p{
    font-size: 1em;
  }
  .ghostkit-custom-GNcho{
    min-height: inherit;
    height: 500px;
  }
  .connector .post.type-bewertung .post-inner img{
    display: none;
  }
  .connector .post.type-bewertung .post-inner{
    text-align: center;
  }
  .custom-steps>.ghostkit-grid-inner>.ghostkit-col:nth-child(2n)::after{
    left: -12px;
  }
  .custom-steps>.ghostkit-grid-inner>.ghostkit-col::after{
    right: -12px;
  }
  .has-large-font-size{
    font-size: 1.2em !important;
  }
  .with-arrows{
    &::before,
    &::after{
      display: none;
    }
    padding: 0;
  }
}
@media(max-width: 768px){
  .custom-steps{
    &::after,
    &::before{
      display: none;
    }
    >.ghostkit-grid-inner{
      >.ghostkit-col{
        margin-bottom: 35px !important;
        img{
          margin: 0 auto;
        }
        .ghostkit-col-content{
          .has-text-align-right,
          .has-text-align-left{
            text-align: center !important;
          }
          .ghostkit-grid-inner{
            .ghostkit-col:nth-child(1){
              order: 1;
            }
          }
        }
        &::after{
          display: none;
        }
        &:nth-child(2n){
          .ghostkit-col-content{
            margin-top: 0;
            .ghostkit-grid-inner{
              .ghostkit-col:nth-child(2){
                order: 2;
              }
            }
          }
        }
      }
    }
  }
  .custom-bg{
    background-image: none;
  }
}
@media(max-width: $w-breakpoint-small){
  .hero{
    height: 500px;
  }
  .is-style-subheadline{
    font-size: 0.8em;
  }
  .ghostkit-button{
    font-size: 0.9em;
  }
  .footer{
    padding-bottom: 2em;
    .footer-inner{
      .col-footer-information{
        padding: 20px;
        .socials{
          position: static;
          top: inherit;
          right: inherit;
        }
        .meta-footer{
          span{
            width: 100%;
            text-align: center;
            margin-bottom: 10px;
          }
          ul{
            margin: 0 auto;
          }
        }
      }
    }
  }
}