.is-style-subheadline{
  font-size: 1em;
  letter-spacing: 0.3em;
  font-weight: 400;
}
.is-style-h2-big-margin{
  margin-bottom: 3rem !important;
}
.is-style-h3{
  font-weight: 200;
  text-transform: none;
}
.has-large-font-size{
  font-size: 2.25em !important;
}

.button-plain{
  font-weight: 400;
  svg{
    margin-right: 15px;
    width: 15px;
  }
}

.jetzt-anrufen{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  width: 64px;
  background: $w-color-primary;
  border-radius: 100%;
  color: #fff;
  position: fixed;
  bottom: calc(20px + 64px + 10px);
  right: 25px;
  z-index: 99;
  svg{
    width: 30px;
    height: 30px;
  }
}