.is-style-subheadline{
  font-size: 1em;
  letter-spacing: 0.3em;
  font-weight: 400;
}
.is-style-h2-big-margin{
  margin-bottom: 3rem !important;
}
.is-style-h3{
  font-weight: 200;
  text-transform: none;
}
.has-large-font-size{
  font-size: 2.25em !important;
}