$w-def-background-color: #000;
$w-def-main-background-color: #000;

$w-color-primary: #0EA9A1;

$w-def-font-family: 'Poppins';
$w-def-font-weight: 200;
$w-def-color-text: #fff;
$w-font-size-desktop: 15px;
$w-def-line-height: 1.9;

$w-headline-font-weight: 900;
$w-headline-text-transform: uppercase;
$w-h1-size: 1.8em;
$w-h1-size-bp: 5.3em;
$w-h2-size: 1.4em;
$w-h2-size-bp: 2.66em;
$w-h3-size: 1.2em;
$w-h3-size-bp: 1.46em;

$w-button-color-icon: #fff;
$w-button-font-weight: 400;
$w-button-font-size: 1.13em;
$w-button-padding-vertical: 1em;
$w-button-padding-horizontal: 1.4em;

$w-container-padding-y-m: 12rem;